/* .chatContainer {
  display: flex;
}

#imgForChatContainer {
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.input {
  position: absolute;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
} */
